body{
    width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

p,a {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
}

#title {
    width: 400px;
    float: left;
}

#topnov {
    float: right;
}

#table {
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(163, 163, 163);
    margin: 10px 15px 20px;
    padding: 10px 10px;
}

#topnov a {
    color: black;
    text-align: center;
    padding: 16px;
    font-size: 17px;
    float: left;
}

#topnov a:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}